.pokemon-card{
    &__container{
        width: 350px;
        height: 470px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0px 4px 10px 5px rgba(1, 1, 1, 0.4);  
    }
    &__img{
        width: 200px;
        height: 200px;
        &-container{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 25px 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }
    &__id{
        text-align: center;
        margin-top: 1.5rem;
        font-size: 1.4rem;
        color: $primary-gray;
    }
    &__title{
        margin: 0;
        margin-top: 0;
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;
        color: $primary-black;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    &__stats{
        display: flex;
        margin-top: -1rem;
        span{
            color: $secondary-gray;
        }
        &-height{
            position: relative;
            margin-right: 1.5rem;
            &::after{
                content: '';
                position: absolute;
                margin-left: 1.5rem;
                width: 1px;
                height: 100%;
                background-color: $primary-black;
            }
        }
        &-weight{
            margin-left: 1.5rem;
        }
    }
    &__types{
        display: flex;
        &-container{
            margin-top: -0.5rem;
        }
        &-img{
            width: 42px;
            height: auto;
            &:last-child{
                margin-left: 2rem;
            }
            &:first-child{
                margin-left: -1rem;
            }
        }
    }
    &__btn{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: $primary-yellow;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 0 0 30px 30px;
        transition: 0.3s ease all;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25); 
        &:hover{
            box-shadow: 0px 0px 15px 5px rgba(254, 206, 2, 0.3);
            border-right: none;
            transition: 0.3s ease all;
        }
        &:active{
            background-color: rgb(168, 137, 0);
            transition: 0.1s ease all;
         }
    }
}
